.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.Header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
  margin-bottom: 2em;
  background-color: white;
  color: black;
  font-size: 30px;
  font-weight: 800;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.Profile-card {
  background-color: #282c34;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 30px;
  min-width: 400px;
  max-width: 600px;
  min-height: 600px;
}

.Profile-image {
  height: 200px;
  border-radius: 20px;
  margin-bottom: 60px;
}

.Profile-title {
  font-weight: 700;
  font-size: calc(10px + 2vmin);
}

.Profile-body {
  font-size: calc(10px + 2vmin);
  font-weight: 500;
  color:rgb(226, 226, 226);
}

.Button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  min-width: 400px;
  max-width: 600px;
}
